<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    데이터는 이 밑에 보입니다
    <table>
        <tr>
            <th>이름</th>
            <th>패스워드</th>
            <th>회사</th>
            <th>핸드폰번호</th>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>{{pw}}</td>
            <td>{{company}}</td>
            <td>{{ph}}</td>
        </tr>
    </table>

</body>
</html>